<!DOCTYPE html>
<html>
<head>
    <title>Catalog {% block title %}{% endblock title %}</title>
    <link rel=stylesheet type=text/css href="{{ STATIC_URL }}bootstrap.css">
    <link rel=stylesheet type=text/css href="{{ STATIC_URL }}style.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="{% url 'index' %}">Blog</a>
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><a href="{% url 'new' %}">New post</a></li>
        </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><p class="navbar-text">Signed in as <b>{{ user.username }}</b></p></li>
            <li><a href="{% url 'sign_out' %}">Sign out</a></li>
        {% else %}
            <li><a href="{% url 'sign_in' %}">Sign in</a></li>
        {% endif %}
    </ul>
</nav>

{% block sidebar %}{% endblock sidebar %}

<div class="content">
    {% block content %}{% endblock content %}
</div>

</body>
</html>
