{% extends "base.html" %}

{% block title %}Log in{% endblock title %}
{% block content %}
    <div class="authentication">
        <form class="form-horizontal" role="form" method="POST" action="{% url 'sign_in' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors.0 }}
                </div>
            {% endif %}
            {% for field in form %}
                {% include "form_field.html" with field=field %}
            {% endfor %}
            <button type="submit" class="btn btn-primary col-md-offset-1 col-md-1">Sign in</button>
        </form>
    </div>
{% endblock content %}