<a href="{% url 'post_page' post.id %}">
    <h1>{{ post.title|default:"(empty)" }}</h1>
</a>
<p class="post-info">
    Published at: {{ post.published|date:"d.m.Y" }} | Author: {{ post.author }}
</p>
<p>
    {{ post.content|truncatewords:20 }}
    <a href="{% url 'post_page' post.id %}"> ({{ post.photos_count }} photos) </a>
</p>
{% if post.categories %}
<p class="categories-list">
    Categories:
    {% for category in post.categories.all %}
        <a href="{% url 'category_page' category.id %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
{% endif %}